/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/* :root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray:hsl(0, 0%, 52%);
  --dark-blue:hsl(209, 23%, 22%);
  --lightmode-blue-bg:hsl(200, 15%, 8%);
  --darkmode-blue-bg:hsl(207, 26%, 17%)
} */